
body {
    background-color: white;
    font-family: sans-serif;
}

.page_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content {
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
                rgba(15, 15, 15, 0.1) 0px 3px 6px,
                rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.button {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 3px;
    display: block;
    color: black;
    text-decoration: none;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

#drawing_url_container {
    display: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 16px;
}

#drawing_url {
    font-family: monospace;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    padding: 10px;
}

