{{template "base" .}}

{{define "title"}}Notation{{end}}

{{define "extrahead"}}
<link rel="stylesheet" type="text/css" href="/static/drawing_style.css">
{{end}}

{{define "body"}}
<body class="light">
<script type="text/javascript" src="/static/script.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function(evt) {
dom_content_loaded({{ if .editable }}true{{ else }}false{{ end }});
});
function preload_curves() { return [
{{ range .curves }}{{toJSON .}},{{ end }}
]; }
</script>
<canvas class="fullscreen_canvas" id="firstresponse_canvas">
</canvas>

<canvas class="fullscreen_canvas" id="main_canvas">
    Your browser does not support the canvas element.
</canvas>

<div id="contextmenu_link">menu</div>

</body>
{{ end }}
