
{{template "base" .}}

{{define "title"}}Notation{{end}}

{{define "extrahead"}}
<link rel="stylesheet" type="text/css" href="/static/page_style.css">
{{end}}

{{define "body"}}
<body>
<div class="page_container">
    <div class="content">
    <h1>Notation</h1>
    <p>A simple web app to make drawings that are easy to embed. 
    <a href="https://www.notion.so/evertheylen/About-Notation-e7a4f861a5ed4d14a767326062f80e89">Click here for more information and a demo</a>.
    Made by <a href="https://evertheylen.eu">Evert Heylen</a>, source available <a href="https://github.com/evertheylen/Notation">on github</a>.</p>
    <p>This was made specifically to fill a shortcoming in <a href="https://notion.so/">Notion</a>. 
    Use the <code>/embed</code> command and paste the generated URL.
    All drawings are visible to anyone who has the URL, but only you can edit them.</p>
    <p><b>Cookie and privacy policy:</b> This service uses cookies and local storage to remember your preferences and authentication info.
    We only store your emailaddress to authenticate. If you want all your data deleted or obtain a copy, 
    please contact the <a href="mailto:evertheylen@gmail.com">author</a>.
    </p>
    <br>
    <a href="{{ .login_url }}" class="button">Login or signup with Google</a>
    </div>
</div>
</body>
{{end}}
